FrontEnd/.flows.json.backup
[
    {
        "id": "ba85fe949960916b",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cea7ed5b0a0f01e6",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "mytutorial",
        "tz": "+08:00",
        "charset": "UTF8"
    },
    {
        "id": "f3e8c660cf5205b5",
        "type": "MySQLdatabase",
        "name": "rs2lab",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "rs2lab",
        "tz": "+08:00",
        "charset": "UTF8"
    },
    {
        "id": "2b5fcb475301977b",
        "type": "uibuilder",
        "z": "ba85fe949960916b",
        "name": "",
        "topic": "",
        "url": "Sample",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "reload": false,
        "sourceFolder": "src",
        "x": 120,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "64b6d4a8cb5dfc5c",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = 'SELECT ' +\n    'ID, ' +\n    'Nome, ' +\n    'Descricao ' +\n    'FROM rs2lab.TipoUtilizador;';\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6b15a72c08bd9030"
            ]
        ]
    },
    {
        "id": "8803ac67b6aace4b",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "64b6d4a8cb5dfc5c"
            ]
        ]
    },
    {
        "id": "1d89135f9362c6a9",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "a24866634be830d0",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = 'SELECT ' +\n    'ID, ' +\n    'Nome, ' +\n    'Descricao ' +\n    'FROM rs2lab.TipoUtilizador;';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "cef801336e444de7"
            ]
        ]
    },
    {
        "id": "a4c6acb84046bca4",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "d5c46af50f848ec9",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "4ec0502629967bd9",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/tipoutilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 360,
        "wires": [
            [
                "7779e000ad4d5618"
            ]
        ]
    },
    {
        "id": "7779e000ad4d5618",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "dded9782c90518cb",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "4ec0502629967bd9"
            ]
        ]
    },
    {
        "id": "82f8ae89bbe90771",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get tipoutilizador",
        "url": "/rs2lab/tipoutilizador",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a24866634be830d0"
            ]
        ]
    },
    {
        "id": "eab59d4cfcfbc49e",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/addtipoutilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 580,
        "wires": [
            [
                "2002540a2b9f6e27"
            ]
        ]
    },
    {
        "id": "2002540a2b9f6e27",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "cfb77425b5c1d981",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"Teste\",\"Descricao\":\"Teste testado\"}",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "eab59d4cfcfbc49e"
            ]
        ]
    },
    {
        "id": "4ac82c04fa289ef1",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.TipoUtilizador (Nome, Descricao) ` +\n    `VALUES ('${msg.payload.Nome}', '${msg.payload.Descricao}');`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "51a4b15e2b087ba2"
            ]
        ]
    },
    {
        "id": "3f8f6405f3178098",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "9ba8cf155b9bc11f",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "add TipoUtilizador",
        "url": "/rs2lab/addtipoutilizador",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "4ac82c04fa289ef1",
                "5256d8b4876d324b"
            ]
        ]
    },
    {
        "id": "5256d8b4876d324b",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "6b15a72c08bd9030",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "1d89135f9362c6a9"
            ]
        ]
    },
    {
        "id": "cef801336e444de7",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "a4c6acb84046bca4",
                "d5c46af50f848ec9"
            ]
        ]
    },
    {
        "id": "51a4b15e2b087ba2",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "3f8f6405f3178098"
            ]
        ]
    },
    {
        "id": "5df08d5070bc3be3",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "START TIPOUTILIZADOR",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "f773d57533748f37",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, Nome, Descricao \nFROM rs2lab.TipoUtilizador\nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 740,
        "wires": [
            [
                "77fb1023fa9ffdf4",
                "676b14c63ca63277"
            ]
        ]
    },
    {
        "id": "140f70a02845598c",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "a672cd3cd4967d9f",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/tipoutilizador/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 800,
        "wires": [
            [
                "5428601bbbcdb293"
            ]
        ]
    },
    {
        "id": "5428601bbbcdb293",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 800,
        "wires": []
    },
    {
        "id": "6a33b52838589583",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "a672cd3cd4967d9f"
            ]
        ]
    },
    {
        "id": "e563150f9cf8450b",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get TipoUtilizador id",
        "url": "/rs2lab/tipoutilizador/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "f773d57533748f37",
                "6f0ab1a5941c5fd3"
            ]
        ]
    },
    {
        "id": "77fb1023fa9ffdf4",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "140f70a02845598c",
                "08de6c14302967c3"
            ]
        ]
    },
    {
        "id": "105166fadd0ef5dd",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/edittipoutilizador/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "14c4a92de1f02ca1"
            ]
        ]
    },
    {
        "id": "14c4a92de1f02ca1",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3e21f64a9df86e91",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"AdminTeste\",\"Descricao\":\"Admin testado\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "105166fadd0ef5dd"
            ]
        ]
    },
    {
        "id": "9592ed9602a5c274",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `UPDATE rs2lab.TipoUtilizador SET Nome = \n'${msg.payload.Nome}', Descricao = '${msg.payload.Descricao}'\nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 960,
        "wires": [
            [
                "386aacaaf539981b"
            ]
        ]
    },
    {
        "id": "530ecdfc4ba039ca",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 960,
        "wires": []
    },
    {
        "id": "6dc2345888b98051",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Edit TipoUtilizador",
        "url": "/rs2lab/edittipoutilizador/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 960,
        "wires": [
            [
                "9592ed9602a5c274",
                "1a2ab393fe17f83d"
            ]
        ]
    },
    {
        "id": "1a2ab393fe17f83d",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 900,
        "wires": []
    },
    {
        "id": "386aacaaf539981b",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "530ecdfc4ba039ca",
                "3df56df8e99e57a2"
            ]
        ]
    },
    {
        "id": "3df56df8e99e57a2",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "08de6c14302967c3",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "676b14c63ca63277",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "6f0ab1a5941c5fd3",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 680,
        "wires": []
    },
    {
        "id": "c796c1a739f7d3c7",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `DELETE FROM rs2lab.TipoUtilizador\n WHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "f952a32b114c600b",
                "43ab9c0ef95d1aad"
            ]
        ]
    },
    {
        "id": "af5274633e360b2e",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7611036da6eeafa6",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/tipoutilizador/10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 1240,
        "wires": [
            [
                "a4dcb4837e44c28a"
            ]
        ]
    },
    {
        "id": "a4dcb4837e44c28a",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4a9afadad37e139e",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":10}",
        "payloadType": "json",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "7611036da6eeafa6"
            ]
        ]
    },
    {
        "id": "0e5ad9f3d918bb01",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Delete TipoUtilizador id",
        "url": "/rs2lab/deletetipoutilizador/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "c796c1a739f7d3c7",
                "d4bb185db143ac8f"
            ]
        ]
    },
    {
        "id": "f952a32b114c600b",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "af5274633e360b2e",
                "3138993d74f297f0"
            ]
        ]
    },
    {
        "id": "3138993d74f297f0",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1140,
        "wires": []
    },
    {
        "id": "43ab9c0ef95d1aad",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d4bb185db143ac8f",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1120,
        "wires": []
    },
    {
        "id": "863eadc1d83699cd",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "END TIPOUTILIZADOR",
        "info": "",
        "x": 320,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4cdfb82929815624",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ALL",
        "info": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fd72b0120ab1936",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "CREATE",
        "info": "",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "6b1ac32809c94b36",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ID",
        "info": "",
        "x": 310,
        "y": 640,
        "wires": []
    },
    {
        "id": "d0dc2134f1b0bb17",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "UPDATE ID",
        "info": "",
        "x": 330,
        "y": 860,
        "wires": []
    },
    {
        "id": "5c784a1cc0013d59",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "DELETE ID",
        "info": "",
        "x": 330,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6ebb74746f9c068a",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, Nome \nFROM rs2lab.GrupoUtilizadores;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1500,
        "wires": [
            [
                "a280bededc220881"
            ]
        ]
    },
    {
        "id": "b85cd0339a7e2578",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "6ebb74746f9c068a"
            ]
        ]
    },
    {
        "id": "96589fc9f6cf1614",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1500,
        "wires": []
    },
    {
        "id": "99186d4458108edf",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, Nome \nFROM rs2lab.GrupoUtilizadores;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "c8db7b617ed32a4a"
            ]
        ]
    },
    {
        "id": "12ffe8f9ed17f9eb",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3cbf6fde4ae4f7ed",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3fa8cfbab258f884",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/grupoutilizadores",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 1620,
        "wires": [
            [
                "cb6da462f84869cb"
            ]
        ]
    },
    {
        "id": "cb6da462f84869cb",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1620,
        "wires": []
    },
    {
        "id": "56199e2d6377abc8",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1620,
        "wires": [
            [
                "3fa8cfbab258f884"
            ]
        ]
    },
    {
        "id": "6a1eba8619456eac",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get GrupoUtilizadores",
        "url": "/rs2lab/grupoutilizadores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "99186d4458108edf"
            ]
        ]
    },
    {
        "id": "db1ec78e2a3669a6",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/addgrupoutilizadores",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 1800,
        "wires": [
            [
                "9fe04d6d965dcb9c"
            ]
        ]
    },
    {
        "id": "9fe04d6d965dcb9c",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4ab038de09c195c6",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"Teste\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "db1ec78e2a3669a6"
            ]
        ]
    },
    {
        "id": "2e6c65ba6af0e3ef",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.GrupoUtilizadores (Nome) \nVALUES ('${msg.payload.Nome}');`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1740,
        "wires": [
            [
                "2111088b0486ceac"
            ]
        ]
    },
    {
        "id": "3c09b7731410edf7",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a991eb42f287d8f7",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "add GrupoUtilizadores",
        "url": "/rs2lab/addgrupoutilizadores",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1740,
        "wires": [
            [
                "2e6c65ba6af0e3ef"
            ]
        ]
    },
    {
        "id": "18c868e0fed8144d",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a280bededc220881",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "96589fc9f6cf1614"
            ]
        ]
    },
    {
        "id": "c8db7b617ed32a4a",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 470,
        "y": 1560,
        "wires": [
            [
                "12ffe8f9ed17f9eb",
                "3cbf6fde4ae4f7ed"
            ]
        ]
    },
    {
        "id": "2111088b0486ceac",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 530,
        "y": 1740,
        "wires": [
            [
                "3c09b7731410edf7",
                "18c868e0fed8144d"
            ]
        ]
    },
    {
        "id": "295bb40a7f620bc5",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "START GrupoUtilizadores",
        "info": "",
        "x": 330,
        "y": 1380,
        "wires": []
    },
    {
        "id": "248623d172d7f79e",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "END GrupoUtilizadores",
        "info": "",
        "x": 320,
        "y": 2520,
        "wires": []
    },
    {
        "id": "b54a0e8e1d17b7b9",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ALL",
        "info": "",
        "x": 320,
        "y": 1440,
        "wires": []
    },
    {
        "id": "34a1defbf6af9024",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "CREATE",
        "info": "",
        "x": 320,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e496dfdacd610c85",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, Nome \nFROM rs2lab.GrupoUtilizadores \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1960,
        "wires": [
            [
                "bdfc06607f2946c2",
                "2d62181dcd45d232"
            ]
        ]
    },
    {
        "id": "fbc13b62c61562f4",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1960,
        "wires": []
    },
    {
        "id": "2b1a5b3895dc08ce",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/grupoutilizadores/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 2020,
        "wires": [
            [
                "1f877dcff7f5e32b"
            ]
        ]
    },
    {
        "id": "1f877dcff7f5e32b",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2020,
        "wires": []
    },
    {
        "id": "eb643e4bec0d4fc4",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 2020,
        "wires": [
            [
                "2b1a5b3895dc08ce"
            ]
        ]
    },
    {
        "id": "4ba00d54574a9ff5",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get grupoutilizadores id",
        "url": "/rs2lab/grupoutilizadores/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1960,
        "wires": [
            [
                "e496dfdacd610c85",
                "b27d1a7009639dbe"
            ]
        ]
    },
    {
        "id": "bdfc06607f2946c2",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 490,
        "y": 1960,
        "wires": [
            [
                "fbc13b62c61562f4",
                "7f0c954799ed478b"
            ]
        ]
    },
    {
        "id": "d9a02b78dc616ce7",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/editgrupoutilizadores/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 2240,
        "wires": [
            [
                "ba67760fafd66c0e"
            ]
        ]
    },
    {
        "id": "ba67760fafd66c0e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 2240,
        "wires": []
    },
    {
        "id": "f18b46211491aa05",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"TesteTestando\"}",
        "payloadType": "json",
        "x": 130,
        "y": 2240,
        "wires": [
            [
                "d9a02b78dc616ce7"
            ]
        ]
    },
    {
        "id": "9832d06713bb7d62",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `UPDATE rs2lab.GrupoUtilizadores \nSET Nome = '${msg.payload.Nome}' \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2180,
        "wires": [
            [
                "e2ddf0905d48d75e"
            ]
        ]
    },
    {
        "id": "d325369e52b714a4",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 2180,
        "wires": []
    },
    {
        "id": "e22b27b31c2f42ac",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Edit grupoutilizadores",
        "url": "/rs2lab/editgrupoutilizadores/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2180,
        "wires": [
            [
                "9832d06713bb7d62",
                "ec90ba32ad1bedf9"
            ]
        ]
    },
    {
        "id": "ec90ba32ad1bedf9",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 2120,
        "wires": []
    },
    {
        "id": "e2ddf0905d48d75e",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 570,
        "y": 2180,
        "wires": [
            [
                "d325369e52b714a4",
                "fc373f8c2650027e"
            ]
        ]
    },
    {
        "id": "fc373f8c2650027e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 2120,
        "wires": []
    },
    {
        "id": "7f0c954799ed478b",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1920,
        "wires": []
    },
    {
        "id": "2d62181dcd45d232",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1920,
        "wires": []
    },
    {
        "id": "b27d1a7009639dbe",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1900,
        "wires": []
    },
    {
        "id": "96044a9d4f6004dc",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `DELETE FROM rs2lab.Utilizador\nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 2400,
        "wires": [
            [
                "4f9f48c079e687ca",
                "f55e378af154cb95"
            ]
        ]
    },
    {
        "id": "967cbdb6ecadde8b",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 2400,
        "wires": []
    },
    {
        "id": "1fb337f5738a3d31",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.186:1882/rs2lab/deleteutilizador/10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 2460,
        "wires": [
            [
                "6527d2f7d3ebf0d2"
            ]
        ]
    },
    {
        "id": "6527d2f7d3ebf0d2",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2460,
        "wires": []
    },
    {
        "id": "ca7fadf02c60bebc",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":10}",
        "payloadType": "json",
        "x": 130,
        "y": 2460,
        "wires": [
            [
                "1fb337f5738a3d31"
            ]
        ]
    },
    {
        "id": "2dbb43a346e359cf",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Delete Utilizador id",
        "url": "/rs2lab/deleteutilizador/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2400,
        "wires": [
            [
                "96044a9d4f6004dc",
                "56435db748ea9fe1"
            ]
        ]
    },
    {
        "id": "4f9f48c079e687ca",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 550,
        "y": 2400,
        "wires": [
            [
                "967cbdb6ecadde8b",
                "056b9a23d0d46412"
            ]
        ]
    },
    {
        "id": "056b9a23d0d46412",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 2360,
        "wires": []
    },
    {
        "id": "f55e378af154cb95",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 2360,
        "wires": []
    },
    {
        "id": "56435db748ea9fe1",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 2340,
        "wires": []
    },
    {
        "id": "5131ba408b2df7cc",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ID",
        "info": "",
        "x": 310,
        "y": 1860,
        "wires": []
    },
    {
        "id": "d6d2b3d1eba671e1",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "UPDATE ID",
        "info": "",
        "x": 330,
        "y": 2080,
        "wires": []
    },
    {
        "id": "eaf78f141c60af54",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "DELETE ID",
        "info": "",
        "x": 330,
        "y": 2300,
        "wires": []
    },
    {
        "id": "bacc9caeb59c8c7c",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `\nSELECT\n    u.ID AS Utilizador_ID,\n    u.Nome AS Utilizador_Nome,\n    u.Senha AS Utilizador_Senha,\n    u.Email AS Utilizador_Email,\n    u.isActive AS Utilizador_isActive,\n    u.Avatar AS Utilizador_Avatar,\n    t.ID AS TipoUtilizador_ID,\n    t.Nome AS TipoUtilizador_Nome,\n    GROUP_CONCAT(DISTINCT g.ID, ':', g.Nome ORDER BY g.ID SEPARATOR ', ') AS Grupos\nFROM\n    Utilizador u\nJOIN\n    TipoUtilizador t ON u.ID_TipoUtilizador = t.ID\nLEFT JOIN\n    UtilizadorGrupo ug ON u.ID = ug.ID_Utilizador\nLEFT JOIN\n    GrupoUtilizadores g ON ug.ID_Grupo = g.ID\nGROUP BY\n    u.ID, t.ID;\n\n\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2720,
        "wires": [
            [
                "431ddaf415a14267"
            ]
        ]
    },
    {
        "id": "cac186a1614b7587",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 2720,
        "wires": [
            [
                "bacc9caeb59c8c7c"
            ]
        ]
    },
    {
        "id": "c350634c25106c2d",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 2720,
        "wires": []
    },
    {
        "id": "bd510b92284b89f3",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `\nSELECT\n    u.ID AS Utilizador_ID,\n    u.Nome AS Utilizador_Nome,\n    u.Senha AS Utilizador_Senha,\n    u.Email AS Utilizador_Email,\n    u.isActive AS Utilizador_isActive,\n    u.Avatar AS Utilizador_Avatar,\n    t.ID AS TipoUtilizador_ID,\n    t.Nome AS TipoUtilizador_Nome,\n    GROUP_CONCAT(DISTINCT g.ID, ':', g.Nome ORDER BY g.ID SEPARATOR ', ') AS Grupos\nFROM\n    Utilizador u\nJOIN\n    TipoUtilizador t ON u.ID_TipoUtilizador = t.ID\nLEFT JOIN\n    UtilizadorGrupo ug ON u.ID = ug.ID_Utilizador\nLEFT JOIN\n    GrupoUtilizadores g ON ug.ID_Grupo = g.ID\nGROUP BY\n    u.ID, t.ID;\n\n\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2780,
        "wires": [
            [
                "6598085df2f77fd2"
            ]
        ]
    },
    {
        "id": "5fcb102b551182d9",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 2780,
        "wires": []
    },
    {
        "id": "cdc93cc9c7bc9fe8",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 2820,
        "wires": []
    },
    {
        "id": "ae26f17bd5705fef",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/utilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 2840,
        "wires": [
            [
                "1b784db1b3a28ebb"
            ]
        ]
    },
    {
        "id": "1b784db1b3a28ebb",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 2840,
        "wires": []
    },
    {
        "id": "036164b2ef106543",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2840,
        "wires": [
            [
                "ae26f17bd5705fef"
            ]
        ]
    },
    {
        "id": "2ff16ad56147f134",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get Utilizador",
        "url": "/rs2lab/utilizadores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 2780,
        "wires": [
            [
                "bd510b92284b89f3"
            ]
        ]
    },
    {
        "id": "00d15f91b20e5697",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.186:1882/rs2lab/addutilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 3020,
        "wires": [
            [
                "5e9508087c7b5a7d"
            ]
        ]
    },
    {
        "id": "5e9508087c7b5a7d",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 3020,
        "wires": []
    },
    {
        "id": "2a62aaeddaf07e64",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"Testesssss\",\"Senha\":\"Teste\",\"Email\":\"teste@gmail.com\",\"isActive\":\"1\",\"Avatar\":null,\"ID_TipoUtilizador\":\"1\"}",
        "payloadType": "json",
        "x": 130,
        "y": 3020,
        "wires": [
            [
                "00d15f91b20e5697"
            ]
        ]
    },
    {
        "id": "686dfb7cc32e0fe3",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.Utilizador \n(Nome, Email, Senha, Avatar, isActive, ID_TipoUtilizador) \nVALUES ('${msg.payload.Nome}', '${msg.payload.Email}', \n'${msg.payload.Senha}', '${msg.payload.Avatar}', '${msg.payload.isActive}', \n${msg.payload.ID_TipoUtilizador});`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2960,
        "wires": [
            [
                "c9d222156489023d"
            ]
        ]
    },
    {
        "id": "bef0301becf000b3",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 2960,
        "wires": []
    },
    {
        "id": "d029aea9710571a6",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "add Utilizador",
        "url": "/rs2lab/addutilizador",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 2960,
        "wires": [
            [
                "686dfb7cc32e0fe3"
            ]
        ]
    },
    {
        "id": "efb0dd89999caf7f",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 2920,
        "wires": []
    },
    {
        "id": "431ddaf415a14267",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 390,
        "y": 2720,
        "wires": [
            [
                "c350634c25106c2d"
            ]
        ]
    },
    {
        "id": "6598085df2f77fd2",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 470,
        "y": 2780,
        "wires": [
            [
                "5fcb102b551182d9",
                "cdc93cc9c7bc9fe8"
            ]
        ]
    },
    {
        "id": "c9d222156489023d",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 530,
        "y": 2960,
        "wires": [
            [
                "bef0301becf000b3",
                "efb0dd89999caf7f"
            ]
        ]
    },
    {
        "id": "693230312f4c6174",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "START Utilizador",
        "info": "",
        "x": 300,
        "y": 2600,
        "wires": []
    },
    {
        "id": "6a2e04b7ba48d4e9",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "END Utilizador",
        "info": "",
        "x": 300,
        "y": 3740,
        "wires": []
    },
    {
        "id": "c892b667584f5e3d",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ALL",
        "info": "",
        "x": 320,
        "y": 2660,
        "wires": []
    },
    {
        "id": "9f3c233f344d78ce",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "CREATE",
        "info": "",
        "x": 320,
        "y": 2900,
        "wires": []
    },
    {
        "id": "898dd5d121dfe467",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, Nome, Email, Senha, Avatar,\n ID_TipoUtilizador, isActive FROM rs2lab.Utilizador\n  WHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3180,
        "wires": [
            [
                "ee3d0442ab481a26",
                "54e0c2dc3e6c5e78"
            ]
        ]
    },
    {
        "id": "ef225f586f8526f0",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 3180,
        "wires": []
    },
    {
        "id": "29a044f7437a4925",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/utilizador/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 3240,
        "wires": [
            [
                "6f3adea70f760179"
            ]
        ]
    },
    {
        "id": "6f3adea70f760179",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 3240,
        "wires": []
    },
    {
        "id": "bdd7d379606fec71",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 3240,
        "wires": [
            [
                "29a044f7437a4925"
            ]
        ]
    },
    {
        "id": "f30b607aed2741d3",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get Utilizador id",
        "url": "/rs2lab/utilizador/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 3180,
        "wires": [
            [
                "898dd5d121dfe467",
                "126a9dbd3e67b593"
            ]
        ]
    },
    {
        "id": "ee3d0442ab481a26",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 490,
        "y": 3180,
        "wires": [
            [
                "ef225f586f8526f0",
                "e7364a8c3b6373d0"
            ]
        ]
    },
    {
        "id": "582137c3581fccf6",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/editutilizador/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 3460,
        "wires": [
            [
                "33172aa57966669b"
            ]
        ]
    },
    {
        "id": "33172aa57966669b",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 3460,
        "wires": []
    },
    {
        "id": "cffcdcb314726967",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"TesteTestando\"}",
        "payloadType": "json",
        "x": 130,
        "y": 3460,
        "wires": [
            [
                "582137c3581fccf6"
            ]
        ]
    },
    {
        "id": "698f8b463ba27bdb",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `UPDATE rs2lab.Utilizador \nSET Nome = '${msg.payload.Nome}', \nEmail = '${msg.payload.Email}', \nSenha = '${msg.payload.Senha}', \nAvatar = '${msg.payload.Avatar}', \nID_TipoUtilizador = ${msg.payload.ID_TipoUtilizador}, \nisActive = ${msg.payload.isActive} \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 3400,
        "wires": [
            [
                "7161199dbe7f739d"
            ]
        ]
    },
    {
        "id": "12f32ef1a47ed7c4",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 3400,
        "wires": []
    },
    {
        "id": "ba7397ba8174076b",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Edit Utilizador",
        "url": "/rs2lab/editutilizador/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 3400,
        "wires": [
            [
                "698f8b463ba27bdb",
                "64a2b3bd26cc9393"
            ]
        ]
    },
    {
        "id": "64a2b3bd26cc9393",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 3340,
        "wires": []
    },
    {
        "id": "7161199dbe7f739d",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 570,
        "y": 3400,
        "wires": [
            [
                "12f32ef1a47ed7c4",
                "b8cac52f16036586"
            ]
        ]
    },
    {
        "id": "b8cac52f16036586",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 3340,
        "wires": []
    },
    {
        "id": "e7364a8c3b6373d0",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 3140,
        "wires": []
    },
    {
        "id": "54e0c2dc3e6c5e78",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 3140,
        "wires": []
    },
    {
        "id": "126a9dbd3e67b593",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 3120,
        "wires": []
    },
    {
        "id": "11522a57e9ccf06b",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `DELETE FROM rs2lab.Utilizador \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3620,
        "wires": [
            [
                "20bc74c2e18e9878",
                "1be3af1a47f71864"
            ]
        ]
    },
    {
        "id": "d381f7486b56c22e",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 3620,
        "wires": []
    },
    {
        "id": "0a78d55a0d3dd9c1",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/utilizador/10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 3680,
        "wires": [
            [
                "056ca1b74465da54"
            ]
        ]
    },
    {
        "id": "056ca1b74465da54",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 3680,
        "wires": []
    },
    {
        "id": "8f769a3679da2608",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":10}",
        "payloadType": "json",
        "x": 130,
        "y": 3680,
        "wires": [
            [
                "0a78d55a0d3dd9c1"
            ]
        ]
    },
    {
        "id": "5a023a308336b80c",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Delete Utilizador id",
        "url": "/rs2lab/deleteutilizador/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 3620,
        "wires": [
            [
                "11522a57e9ccf06b",
                "183e0675b0fe2e50"
            ]
        ]
    },
    {
        "id": "20bc74c2e18e9878",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 550,
        "y": 3620,
        "wires": [
            [
                "d381f7486b56c22e",
                "52c18233dd672b57"
            ]
        ]
    },
    {
        "id": "52c18233dd672b57",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 3580,
        "wires": []
    },
    {
        "id": "1be3af1a47f71864",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 3580,
        "wires": []
    },
    {
        "id": "183e0675b0fe2e50",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 3560,
        "wires": []
    },
    {
        "id": "1dd968ec7c59da7c",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ID",
        "info": "",
        "x": 310,
        "y": 3080,
        "wires": []
    },
    {
        "id": "f9e0229c1e9cf484",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "UPDATE ID",
        "info": "",
        "x": 330,
        "y": 3300,
        "wires": []
    },
    {
        "id": "b4779b1f748d717f",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "DELETE ID",
        "info": "",
        "x": 330,
        "y": 3520,
        "wires": []
    },
    {
        "id": "68846d3f334cea1b",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.Utilizador(Nome, Email, Senha, Avatar, isActive, ID_TipoUtilizador)\nVALUES('Teste', 'teste@gmail.com', 'Teste', NULL, '1', 1);`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 3020,
        "wires": [
            [
                "6e6b47d59ed5dc88"
            ]
        ]
    },
    {
        "id": "8a2b5d544b84de54",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 610,
        "y": 3020,
        "wires": [
            [
                "68846d3f334cea1b"
            ]
        ]
    },
    {
        "id": "859854e6322c283a",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 3020,
        "wires": []
    },
    {
        "id": "6e6b47d59ed5dc88",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 870,
        "y": 3020,
        "wires": [
            [
                "859854e6322c283a"
            ]
        ]
    },
    {
        "id": "3b56fadb13ef3566",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `\nSELECT\n    u.ID AS Utilizador_ID,\n    u.Nome AS Utilizador_Nome,\n    u.Senha AS Utilizador_Senha,\n    u.Email AS Utilizador_Email,\n    u.isActive AS Utilizador_isActive,\n    u.Avatar AS Utilizador_Avatar,\n    t.ID AS TipoUtilizador_ID,\n    t.Nome AS TipoUtilizador_Nome,\n    CONCAT('[', GROUP_CONCAT(DISTINCT JSON_OBJECT('ID', g.ID, 'Nome', g.Nome) ORDER BY g.ID SEPARATOR ','), ']') AS Grupos\nFROM\n    Utilizador u\nJOIN\n    TipoUtilizador t ON u.ID_TipoUtilizador = t.ID\nLEFT JOIN\n    UtilizadorGrupo ug ON u.ID = ug.ID_Utilizador\nLEFT JOIN\n    GrupoUtilizadores g ON ug.ID_Grupo = g.ID\nWHERE\n    t.ID = 1\nGROUP BY\n    u.ID, t.ID;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 973.0667114257812,
        "y": 3145.533447265625,
        "wires": [
            [
                "1c2bfacd576b27b3"
            ]
        ]
    },
    {
        "id": "f6d8e33d40c040af",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 840,
        "y": 3140,
        "wires": [
            [
                "3b56fadb13ef3566"
            ]
        ]
    },
    {
        "id": "5b2dd997d2497481",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 3140,
        "wires": []
    },
    {
        "id": "b43bf3ee65fa6022",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `\nSELECT\n    u.ID AS Utilizador_ID,\n    u.Nome AS Utilizador_Nome,\n    u.Senha AS Utilizador_Senha,\n    u.Email AS Utilizador_Email,\n    u.isActive AS Utilizador_isActive,\n    u.Avatar AS Utilizador_Avatar,\n    t.ID AS TipoUtilizador_ID,\n    t.Nome AS TipoUtilizador_Nome,\n    CONCAT('[', GROUP_CONCAT(DISTINCT JSON_OBJECT('ID', g.ID, 'Nome', g.Nome) ORDER BY g.ID SEPARATOR ','), ']') AS Grupos\nFROM\n    Utilizador u\nJOIN\n    TipoUtilizador t ON u.ID_TipoUtilizador = t.ID\nLEFT JOIN\n    UtilizadorGrupo ug ON u.ID = ug.ID_Utilizador\nLEFT JOIN\n    GrupoUtilizadores g ON ug.ID_Grupo = g.ID\nWHERE\n    t.ID = ${msg.req.params.ID}\nGROUP BY\n    u.ID, t.ID;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 3200,
        "wires": [
            [
                "b159745ff189b4a5"
            ]
        ]
    },
    {
        "id": "dc177f22eef5fc3d",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 3200,
        "wires": []
    },
    {
        "id": "c5230e61fc039c3f",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 3240,
        "wires": []
    },
    {
        "id": "9909bc308ead2d99",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get Utilizador by TipoUtilizador",
        "url": "/rs2lab/utilizador/tipoutilizador/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 910,
        "y": 3200,
        "wires": [
            [
                "b43bf3ee65fa6022"
            ]
        ]
    },
    {
        "id": "1c2bfacd576b27b3",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1100,
        "y": 3140,
        "wires": [
            [
                "5b2dd997d2497481"
            ]
        ]
    },
    {
        "id": "b159745ff189b4a5",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1260,
        "y": 3200,
        "wires": [
            [
                "dc177f22eef5fc3d",
                "c5230e61fc039c3f"
            ]
        ]
    },
    {
        "id": "a95f1855cafe10f1",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET by TipoUtilizador ",
        "info": "",
        "x": 1080,
        "y": 3080,
        "wires": []
    },
    {
        "id": "0d8d918a9d5aa669",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\n    ug.ID_Utilizador,\n    GROUP_CONCAT(ug.ID_Grupo) AS ID_Grupos\nFROM\n    UtilizadorGrupo ug\nGROUP BY\n    ug.ID_Utilizador;`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 3920,
        "wires": [
            [
                "19117205b6495a3b"
            ]
        ]
    },
    {
        "id": "a66d0880db37f0a4",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 3920,
        "wires": [
            [
                "0d8d918a9d5aa669"
            ]
        ]
    },
    {
        "id": "4ad025b00f016522",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 3920,
        "wires": []
    },
    {
        "id": "3874c9fe762984b4",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\n    ug.ID_Utilizador,\n    GROUP_CONCAT(ug.ID_Grupo) AS ID_Grupos\nFROM\n    UtilizadorGrupo ug\nGROUP BY\n    ug.ID_Utilizador;`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 3980,
        "wires": [
            [
                "d92bbaa7292f15ad"
            ]
        ]
    },
    {
        "id": "9366192bf547cf6f",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 3980,
        "wires": []
    },
    {
        "id": "35fa5cb290ea4d9e",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 4020,
        "wires": []
    },
    {
        "id": "e6ef34d7ac209393",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/utilizadorgrupo/utilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 4040,
        "wires": [
            [
                "bd485b51ed129433"
            ]
        ]
    },
    {
        "id": "bd485b51ed129433",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 4040,
        "wires": []
    },
    {
        "id": "9d92f80584cca03e",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 4040,
        "wires": [
            [
                "e6ef34d7ac209393"
            ]
        ]
    },
    {
        "id": "fed8bf1310c9eca7",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get utilizadorgrupo Utilizador",
        "url": "/rs2lab/utilizadorgrupo/utilizador",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 3980,
        "wires": [
            [
                "3874c9fe762984b4"
            ]
        ]
    },
    {
        "id": "c9a20dfaaf907fe1",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/addutilizadorgrupo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 4260,
        "wires": [
            [
                "0a03d20ca8f27b47"
            ]
        ]
    },
    {
        "id": "0a03d20ca8f27b47",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 4260,
        "wires": []
    },
    {
        "id": "2ffee2383fd78cdb",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID_Utilizador\":3,\"ID_Grupo\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 4260,
        "wires": [
            [
                "c9a20dfaaf907fe1"
            ]
        ]
    },
    {
        "id": "497f8678ca8ab7ff",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.UtilizadorGrupo (ID_Utilizador, ID_Grupo) VALUES (${msg.payload.ID_Utilizador}, ${msg.payload.ID_Grupo});`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 4200,
        "wires": [
            [
                "467b6354effd3095"
            ]
        ]
    },
    {
        "id": "c2c7efb2ce33b122",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 4200,
        "wires": []
    },
    {
        "id": "3ba85d9e120d6e17",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "add utilizadorgrupo",
        "url": "/rs2lab/addutilizadorgrupo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 4200,
        "wires": [
            [
                "497f8678ca8ab7ff",
                "2b1ca77546d5cf29"
            ]
        ]
    },
    {
        "id": "2b1ca77546d5cf29",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 4140,
        "wires": []
    },
    {
        "id": "19117205b6495a3b",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 370,
        "y": 3920,
        "wires": [
            [
                "4ad025b00f016522"
            ]
        ]
    },
    {
        "id": "d92bbaa7292f15ad",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 490,
        "y": 3980,
        "wires": [
            [
                "9366192bf547cf6f",
                "35fa5cb290ea4d9e"
            ]
        ]
    },
    {
        "id": "467b6354effd3095",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 510,
        "y": 4200,
        "wires": [
            [
                "c2c7efb2ce33b122"
            ]
        ]
    },
    {
        "id": "e93d2121bdfb8f60",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "START UtilizadorGrupo",
        "info": "",
        "x": 300,
        "y": 3800,
        "wires": []
    },
    {
        "id": "173755246f938f97",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT ID, ID_Utilizador, ID_Grupo \nFROM rs2lab.UtilizadorGrupo \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 4420,
        "wires": [
            [
                "6cc2de146a2545e5",
                "cf8c4eced92a2d7e"
            ]
        ]
    },
    {
        "id": "db5d9c7a150a5b38",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 4420,
        "wires": []
    },
    {
        "id": "0caf28ec8ad9f50c",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/utilizadorgrupo/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 280,
        "y": 4480,
        "wires": [
            [
                "da5ec1f1d854fe0e"
            ]
        ]
    },
    {
        "id": "da5ec1f1d854fe0e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 4480,
        "wires": []
    },
    {
        "id": "c3a9777529223e60",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 4480,
        "wires": [
            [
                "0caf28ec8ad9f50c"
            ]
        ]
    },
    {
        "id": "270d1d7e1c2fd6e6",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get utilizadorgrupo id",
        "url": "/rs2lab/utilizadorgrupo/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 4420,
        "wires": [
            [
                "173755246f938f97",
                "084f03edb93ecbc2"
            ]
        ]
    },
    {
        "id": "6cc2de146a2545e5",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 470,
        "y": 4420,
        "wires": [
            [
                "db5d9c7a150a5b38",
                "39f2dc88259f5d70"
            ]
        ]
    },
    {
        "id": "c4c38ec63015ccfd",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/rs2lab/editutilizadorgrupo/5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 4700,
        "wires": [
            [
                "4f3d8a3eaea64092"
            ]
        ]
    },
    {
        "id": "4f3d8a3eaea64092",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 4700,
        "wires": []
    },
    {
        "id": "cca2a54459d6ad28",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"AdminTeste\",\"Descricao\":\"Admin testado\"}",
        "payloadType": "json",
        "x": 110,
        "y": 4700,
        "wires": [
            [
                "c4c38ec63015ccfd"
            ]
        ]
    },
    {
        "id": "56798907a26a588a",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `UPDATE rs2lab.UtilizadorGrupo \nSET ID_Utilizador = ${msg.payload.ID_Utilizador}, \nID_Grupo = ${msg.payload.ID_Grupo} \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 4640,
        "wires": [
            [
                "8509da59f5f5475b"
            ]
        ]
    },
    {
        "id": "4cd841ee37ab27ed",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 4640,
        "wires": []
    },
    {
        "id": "bc959ed1609ddc48",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Edit utilizadorgrupo",
        "url": "/rs2lab/editutilizadorgrupo/:ID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 4640,
        "wires": [
            [
                "56798907a26a588a",
                "e39a11886352c41e"
            ]
        ]
    },
    {
        "id": "e39a11886352c41e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 4580,
        "wires": []
    },
    {
        "id": "8509da59f5f5475b",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 510,
        "y": 4640,
        "wires": [
            [
                "4cd841ee37ab27ed",
                "248a3bc382512ba2"
            ]
        ]
    },
    {
        "id": "248a3bc382512ba2",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 4580,
        "wires": []
    },
    {
        "id": "39f2dc88259f5d70",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 4380,
        "wires": []
    },
    {
        "id": "cf8c4eced92a2d7e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 4380,
        "wires": []
    },
    {
        "id": "084f03edb93ecbc2",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 4360,
        "wires": []
    },
    {
        "id": "8287f405bfb85b54",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `DELETE FROM rs2lab.UtilizadorGrupo \nWHERE ID = ${msg.req.params.ID};`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 4860,
        "wires": [
            [
                "a9e24099b0c0f156",
                "51c7678a2e3fe93a"
            ]
        ]
    },
    {
        "id": "aac01db198b8694a",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 4860,
        "wires": []
    },
    {
        "id": "33e9467a4ab785a1",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/utilizadorgrupo/10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 280,
        "y": 4920,
        "wires": [
            [
                "29339434ea7f9664"
            ]
        ]
    },
    {
        "id": "29339434ea7f9664",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 4920,
        "wires": []
    },
    {
        "id": "3ba0d6b02d3de572",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":10}",
        "payloadType": "json",
        "x": 110,
        "y": 4920,
        "wires": [
            [
                "33e9467a4ab785a1"
            ]
        ]
    },
    {
        "id": "6f1941419e4eba4f",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Delete utilizadorgrupo id",
        "url": "/rs2lab/deleteutilizadorgrupo/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 4860,
        "wires": [
            [
                "8287f405bfb85b54",
                "1bb01cf2a6d55aaa"
            ]
        ]
    },
    {
        "id": "a9e24099b0c0f156",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 510,
        "y": 4860,
        "wires": [
            [
                "aac01db198b8694a",
                "c4c43127dc182003"
            ]
        ]
    },
    {
        "id": "c4c43127dc182003",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 4820,
        "wires": []
    },
    {
        "id": "51c7678a2e3fe93a",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 4820,
        "wires": []
    },
    {
        "id": "1bb01cf2a6d55aaa",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 4800,
        "wires": []
    },
    {
        "id": "3b5633b6a9c7ef5e",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "END TIPOUTILIZADOR",
        "info": "",
        "x": 300,
        "y": 4980,
        "wires": []
    },
    {
        "id": "a4cab337c46e69a0",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ALL Utilizador: x , Grupos: [x,x]",
        "info": "",
        "x": 380,
        "y": 3860,
        "wires": []
    },
    {
        "id": "4c81011e85030cc7",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "CREATE",
        "info": "",
        "x": 300,
        "y": 4100,
        "wires": []
    },
    {
        "id": "b4de4dc9439de462",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ID",
        "info": "",
        "x": 290,
        "y": 4320,
        "wires": []
    },
    {
        "id": "c5fb48c1f1296ab9",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "UPDATE ID",
        "info": "",
        "x": 310,
        "y": 4540,
        "wires": []
    },
    {
        "id": "492de5a82609ab12",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "DELETE ID",
        "info": "",
        "x": 310,
        "y": 4760,
        "wires": []
    },
    {
        "id": "f01d1f3023778784",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\n    ug.ID_Grupo ,\n    GROUP_CONCAT(ug.ID_Utilizador) AS ID_Utilizador\nFROM\n    UtilizadorGrupo ug\nGROUP BY\n    ug.ID_Grupo;`;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 3920,
        "wires": [
            [
                "efae2f188bc121ca"
            ]
        ]
    },
    {
        "id": "2df9b88b2325558c",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 830,
        "y": 3920,
        "wires": [
            [
                "f01d1f3023778784"
            ]
        ]
    },
    {
        "id": "4fe44eddfa699996",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 3920,
        "wires": []
    },
    {
        "id": "4b9d5b2fd8577ffa",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\n    ug.ID_Grupo ,\n    GROUP_CONCAT(ug.ID_Utilizador) AS ID_Utilizador\nFROM\n    UtilizadorGrupo ug\nGROUP BY\n    ug.ID_Grupo;`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 3980,
        "wires": [
            [
                "1dd3a63fd4fde80f"
            ]
        ]
    },
    {
        "id": "f405857708bd61b6",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 3980,
        "wires": []
    },
    {
        "id": "19752290a91b9a4c",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 4020,
        "wires": []
    },
    {
        "id": "b1ec8cd902ea189b",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.16.4.165:1882/rs2lab/utilizadorgrupo/grupo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 4040,
        "wires": [
            [
                "62deabb932007427"
            ]
        ]
    },
    {
        "id": "62deabb932007427",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 4040,
        "wires": []
    },
    {
        "id": "7d0129078c10130b",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 4040,
        "wires": [
            [
                "b1ec8cd902ea189b"
            ]
        ]
    },
    {
        "id": "7b04a7b1670b226e",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get utilizadorgrupo Grupo",
        "url": "/rs2lab/utilizadorgrupo/grupo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 860,
        "y": 3980,
        "wires": [
            [
                "4b9d5b2fd8577ffa"
            ]
        ]
    },
    {
        "id": "efae2f188bc121ca",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1090,
        "y": 3920,
        "wires": [
            [
                "4fe44eddfa699996"
            ]
        ]
    },
    {
        "id": "1dd3a63fd4fde80f",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1190,
        "y": 3980,
        "wires": [
            [
                "f405857708bd61b6",
                "19752290a91b9a4c"
            ]
        ]
    },
    {
        "id": "9a99deb5ca21e68c",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ALL Grupo: x , Utilizadores: [x,x]",
        "info": "",
        "x": 1110,
        "y": 3860,
        "wires": []
    },
    {
        "id": "196ff61c660946b5",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\nug.ID,\nug.ID_Utilizador,\nug.ID_Grupo\nFROM\n    UtilizadorGrupo ug\nWHERE\nug.ID_Utilizador = ${msg.req.params.ID};`;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 4400,
        "wires": [
            [
                "2d175f588709d1eb",
                "0210b7383c58ba41"
            ]
        ]
    },
    {
        "id": "0d073de495f5d3c3",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 4400,
        "wires": []
    },
    {
        "id": "85f3d98ea5dd480a",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://172.16.4.165:1882/rs2lab/utilizadorgrupo/utilizador/2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 4520,
        "wires": [
            [
                "3f2ffda7f00f80ca"
            ]
        ]
    },
    {
        "id": "3f2ffda7f00f80ca",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 4520,
        "wires": []
    },
    {
        "id": "73ce07c19b5cfc1e",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":2}",
        "payloadType": "json",
        "x": 850,
        "y": 4520,
        "wires": [
            [
                "85f3d98ea5dd480a"
            ]
        ]
    },
    {
        "id": "d037baaa2f4bf25f",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Get utilizadorgrupo id",
        "url": "/rs2lab/utilizadorgrupo/utilizador/:ID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 880,
        "y": 4400,
        "wires": [
            [
                "196ff61c660946b5",
                "657703fe34214b79"
            ]
        ]
    },
    {
        "id": "2d175f588709d1eb",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1210,
        "y": 4400,
        "wires": [
            [
                "0d073de495f5d3c3",
                "3e2877052bb46e5f"
            ]
        ]
    },
    {
        "id": "3e2877052bb46e5f",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 4360,
        "wires": []
    },
    {
        "id": "0210b7383c58ba41",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 4360,
        "wires": []
    },
    {
        "id": "657703fe34214b79",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 4340,
        "wires": []
    },
    {
        "id": "2d0f76817e095e7c",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "GET ID do Utilizador",
        "info": "",
        "x": 1070,
        "y": 4300,
        "wires": []
    },
    {
        "id": "9a39ec46c268072d",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `SELECT\nug.ID_Utilizador,\n    GROUP_CONCAT(ug.ID_Grupo) AS ID_Grupos\nFROM\n    UtilizadorGrupo ug\nWHERE\nug.ID_Utilizador = ${msg.req.params.ID}\nGROUP BY\nug.ID_Utilizador;`;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 4460,
        "wires": [
            []
        ]
    },
    {
        "id": "e0d8b8c6d9451787",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `DELETE FROM rs2lab.UtilizadorGrupo \nWHERE ID_Utilizador = ${msg.req.params.ID};`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 4860,
        "wires": [
            [
                "b7a94b710471eb91",
                "2cfb8b28c317d506"
            ]
        ]
    },
    {
        "id": "3d5ca83d73b04ac4",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1490,
        "y": 4860,
        "wires": []
    },
    {
        "id": "d40f03c909ec6b93",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://192.168.88.206:1882/rs2lab/utilizadorgrupo/utilizador/10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 4920,
        "wires": [
            [
                "58e498dbc559ea36"
            ]
        ]
    },
    {
        "id": "58e498dbc559ea36",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 4920,
        "wires": []
    },
    {
        "id": "fb73bc19bed0c8be",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":10}",
        "payloadType": "json",
        "x": 850,
        "y": 4920,
        "wires": [
            [
                "d40f03c909ec6b93"
            ]
        ]
    },
    {
        "id": "37826a5c0cc87f9a",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "Delete utilizadorgrupo id utilizador",
        "url": "/rs2lab/deleteutilizadorgrupo/utilizador/:ID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 920,
        "y": 4860,
        "wires": [
            [
                "e0d8b8c6d9451787",
                "1435b198af5cd99e"
            ]
        ]
    },
    {
        "id": "b7a94b710471eb91",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 1330,
        "y": 4860,
        "wires": [
            [
                "3d5ca83d73b04ac4",
                "02b6883d5cb99ec7"
            ]
        ]
    },
    {
        "id": "02b6883d5cb99ec7",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 4820,
        "wires": []
    },
    {
        "id": "2cfb8b28c317d506",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 4820,
        "wires": []
    },
    {
        "id": "1435b198af5cd99e",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.params.ID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 4800,
        "wires": []
    },
    {
        "id": "d073de86c99f6f7b",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "DELETE ID Utilizador",
        "info": "",
        "x": 1100,
        "y": 4760,
        "wires": []
    },
    {
        "id": "c7f41d0533c7af46",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://172.16.4.165:1882/rs2lab/utilizador/tipoutilizador/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 3260,
        "wires": [
            [
                "3ad3ed7963acf9d6"
            ]
        ]
    },
    {
        "id": "3ad3ed7963acf9d6",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 3260,
        "wires": []
    },
    {
        "id": "42c5230d762ec762",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":1}",
        "payloadType": "json",
        "x": 850,
        "y": 3260,
        "wires": [
            [
                "c7f41d0533c7af46"
            ]
        ]
    }
]