FrontEnd/.flows.json.backup
[
    {
        "id": "ba85fe949960916b",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cea7ed5b0a0f01e6",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "mytutorial",
        "tz": "+08:00",
        "charset": "UTF8"
    },
    {
        "id": "f3e8c660cf5205b5",
        "type": "MySQLdatabase",
        "name": "rs2lab",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "rs2lab",
        "tz": "+08:00",
        "charset": "UTF8"
    },
    {
        "id": "2b5fcb475301977b",
        "type": "uibuilder",
        "z": "ba85fe949960916b",
        "name": "",
        "topic": "",
        "url": "Sample",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "reload": false,
        "sourceFolder": "src",
        "x": 120,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "64b6d4a8cb5dfc5c",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = 'SELECT ' +\n    'ID, ' +\n    'Nome, ' +\n    'Descricao ' +\n    'FROM rs2lab.TipoUtilizador;';\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8803ac67b6aace4b",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "64b6d4a8cb5dfc5c"
            ]
        ]
    },
    {
        "id": "1d89135f9362c6a9",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "a24866634be830d0",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = 'SELECT ' +\n    'ID, ' +\n    'Nome, ' +\n    'Descricao ' +\n    'FROM rs2lab.TipoUtilizador;';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "cef801336e444de7"
            ]
        ]
    },
    {
        "id": "a4c6acb84046bca4",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "d5c46af50f848ec9",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ec0502629967bd9",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/tuts/tipoutilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "7779e000ad4d5618"
            ]
        ]
    },
    {
        "id": "7779e000ad4d5618",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "dded9782c90518cb",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "4ec0502629967bd9"
            ]
        ]
    },
    {
        "id": "82f8ae89bbe90771",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "tipoutilizador",
        "url": "/tuts/tipoutilizador",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "a24866634be830d0"
            ]
        ]
    },
    {
        "id": "eab59d4cfcfbc49e",
        "type": "http request",
        "z": "ba85fe949960916b",
        "name": "request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.88.206:1882/tuts/addtipoutilizador",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 520,
        "wires": [
            [
                "2002540a2b9f6e27"
            ]
        ]
    },
    {
        "id": "2002540a2b9f6e27",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "cfb77425b5c1d981",
        "type": "inject",
        "z": "ba85fe949960916b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Nome\":\"Teste\",\"Descricao\":\"Teste testado\"}",
        "payloadType": "json",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "eab59d4cfcfbc49e"
            ]
        ]
    },
    {
        "id": "4ac82c04fa289ef1",
        "type": "function",
        "z": "ba85fe949960916b",
        "name": "QUERY",
        "func": "msg.topic = `INSERT INTO rs2lab.TipoUtilizador (Nome, Descricao) ` +\n    `VALUES ('${msg.payload.Nome}', '${msg.payload.Descricao}');`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "5256d8b4876d324b",
                "51a4b15e2b087ba2"
            ]
        ]
    },
    {
        "id": "3f8f6405f3178098",
        "type": "http response",
        "z": "ba85fe949960916b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "9ba8cf155b9bc11f",
        "type": "http in",
        "z": "ba85fe949960916b",
        "name": "add",
        "url": "/tuts/addtipoutilizador",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "4ac82c04fa289ef1"
            ]
        ]
    },
    {
        "id": "5256d8b4876d324b",
        "type": "debug",
        "z": "ba85fe949960916b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "6b15a72c08bd9030",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "1d89135f9362c6a9"
            ]
        ]
    },
    {
        "id": "cef801336e444de7",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "a4c6acb84046bca4",
                "d5c46af50f848ec9"
            ]
        ]
    },
    {
        "id": "51a4b15e2b087ba2",
        "type": "mysql",
        "z": "ba85fe949960916b",
        "mydb": "f3e8c660cf5205b5",
        "name": "DB",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "3f8f6405f3178098"
            ]
        ]
    },
    {
        "id": "5df08d5070bc3be3",
        "type": "comment",
        "z": "ba85fe949960916b",
        "name": "TIPOUTILIZADOR",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    }
]